h1 {
  font: 24px;
  color: darkblue;
}
#main {
  margin-top: 140px;
  margin-left: 50px;
}

#button {
  border: 1px solid;
  border-radius: 10px;
  background-color: darkblue;
  color: azure;
}

#button:hover {
  background-color: crimson;
}